.widget-area{
    margin-top: 20px;
    padding-right: 20px;
    font-size:1em;
        ul{
            background: transparent;
            padding: 0;
            padding-right: 20px;
            margin: 0;
        }
        h2 {
            margin-bottom: 5px;
        }
        .widget_search form{
            input{
                width: 100%;
                font-size: 1.2em;
                margin-bottom: 5px;
            }
            button{
                width: 100%;
            }
        }
}